*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    width: 115vmin;
    margin-left: 2%;
    margin-top: 7%;
    overflow: hidden;
}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 13s alternate infinite;
    border-radius: 15px;
}

img{
    width: 100%;
    border-radius: 15px;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0%);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}